@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #ffffff;
  --text-color: #000000;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(15, 15, 15, 1);
    --text-color: #ffffff;
  }
}

a {
  @apply underline;
}

footer.homepage {
  @apply top-[100vh] -translate-y-full;
}

.side-spacing {
  @apply px-[12px] md:px-[24px];
}

body {
  background: var(--background);
  color: var(--text-color);
}

@layer utilities {
  .single-mode {
    @apply grid-cols-[repeat(var(--rows),50px)] absolute bottom-0 left-0 min-w-[100vw] h-[calc(10%+84px)] md:relative md:grid-cols-1 md:h-[calc(100vh-64px)] md:w-[10%] md:ml-auto md:grid-rows-[repeat(var(--rows),50px)] md:min-w-0;
  }
}
